/* HACK */
@font-face {
    font-family: "Hack";
    font-weight: 700;
    font-style: normal;
    src: url("/font/Hack/Bold.ttf");
}
@font-face {
    font-family: "Hack";
    font-weight: 600;
    font-style: normal;
    src: url("/font/Hack/BoldItalic.ttf");
}
@font-face {
    font-family: "Hack";
    font-weight: 500;
    font-style: normal;
    src: url("/font/Hack/Regular.ttf");
}
@font-face {
    font-family: "Hack";
    font-weight: 100;
    font-style: normal;
    src: url("/font/Hack/Italic.ttf");
}
