
@mixin fixed($top: auto, $right: auto, $bottom: auto, $left: auto, $height: auto, $width: auto) {
    position: fixed;
    top:    $top;
    right:  $right;
    bottom: $bottom;
    left:   $left;
    height: $height;
    width: $width;
}

@mixin absolute($top: auto, $right: auto, $bottom: auto, $left: auto, $height: auto, $width: auto) {
    position: absolute;
    top:    $top;
    right:  $right;
    bottom: $bottom;
    left:   $left;
    height: $height;
    width: $width;
}
